#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

#searchBox {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 142px;
    top: 9.4px !important;
    height: 37.2px;
    left: 168px !important;
}

    #searchBox:focus {
        border-color: #4d90fe;
    }

#typeShown {
    left: 10px !important;
    top: 50px !important;
    height: 40px;
}

#notificationList {
    height: 40px;
    width: 231px;
}

#historyDtPicker {
    height: 36px;
    width: 226px;
}

.leftTopEdges {
    left: 119px !important;
    top: 50px !important;
}

#signsCopyGert {
    font-family: Roboto, Arial, sans-serif;
    color: rgb(68, 68, 68);
    font-size: 10px;
    background: #fff;
    opacity: 0.7;
    padding: 1px;
    left: 10px !important;
    top: 39px !important;
    width: 93px;
    text-align: center;
}

#permaLink {
    background-color: white;
    width: 34px;
    right: 10px !important;
    bottom: 209px !important;
    font-size: 28px;
    padding: 3px;
}

    #permaLink > a {
        color: black !important;
        text-decoration: none !important;
    }

#historyButton {
    background-color: white;
    width: 34px;
    right: 10px !important;
    margin-top: -9px;
    font-size: 28px;
    padding: 3px;
}

    #historyButton > a {
        color: black !important;
        text-decoration: none !important;
    }

.textVms {
    background-color: #000000;
    width: 512px;
    height: 88px;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #searchBox {
        left: 192px !important;
        width: 129px;
    }

    #notificationList {
        left: 114px !important;
        width: 247px;
    }

    #historyDtPicker {
        left: 114px !important;
        width: 245px;
    }
}
